@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "WantedSans";
  src: url("/fonts/WantedSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "WantedSans", sans-serif;
}

.react-calendar {
  font-family: "WantedSans", "sans-serif" !important;
}
